$generalTextColor: aliceblue;
$mainToolbarColor: #022133;
$mainToolbarButtonColor: #082F3C;
$mainToolbarButtonBorderColor: #0C4E63;
$mainToolbarButtonTextColor: #1FC6FF;
$frameCardColor: rgba(70, 70, 70, 0.7);
$cardIconColor: cornflowerblue;
$gradientLineColor: linear-gradient(to right, aliceblue, cornflowerblue);
$tableTitleColor: rgba(5, 5, 5, 0.5);
$matterFrameColor: linear-gradient(to bottom, rgba(70, 70, 70), rgba(128, 128, 128, 0));
$matterStatisticDataColor: rgba(250, 250, 98, 0.9);
$homeImgShadowColor: rgba(93, 88, 88, 0.7);
$postureAllPartCardColor: rgba(30, 30, 30, 0.5);
$postureSpeedDataColor: yellow;
$viewpointTimeColor: #C9CDD4;
